body {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.jumbotron .logo {
  height: 150px;
}
.logo {
  /*width: 150px;*/
  /*height: auto;*/
  /*width: auto;
  height: 100px;*/
  margin-bottom: 10px;
}
#team, #teams, #matchups {
  margin-top: 40px;
}
#index, #matchup, #week {
  margin-top: 40px;
}
.teamListing {
  /*margin-top: 10px;*/
  margin-left: 10px;
  height: 60px;
  float: left;
  width: 220px;
  display: block;
  position: relative;
}
.teamListing span {
  position: absolute;
  top: 24px;
  left: 65px;
  font-size: 15px;
}
.logoSmall {
  position: absolute;
  top: 50%;
  margin-top: -25%;
  width: 50px;
  height: auto;
}
.logoTiny, .logoTinyConf {
  width: 25px;
  height: auto;
  margin: 0;
  vertical-align: middle;
}
.logoTinyConf {
  margin: 10px 0 0 17px;
}
a.matchup {
  text-align: center;
  margin: 3px 0;
  width: 150px;
}
#matchupScore {
  display: block;
  font-size: 90px;
  font-weight: bold;
  margin-top: 50px;
}

#chart {
  /*width: 960px;*/
  height: 500px;
  margin: 0 auto;
}

#index h3, #matchup h3, #week h3, #team h3, #team h4 {
  text-align: center;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Multicolumn Nav
-------------------------------------------------- */

.navbar .dropdown-menu [class*="span"] {
    padding-top: 10px;
}
.navbar .dropdown-menu > li.column-menu ul {
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 16px;
    width: 100%;
}
.navbar .dropdown-menu > li.column-menu li {
    display: inline;
    float: left;
    width: 100%;
}
.navbar .dropdown-menu > li.column-menu.firstcolumn {
    margin-left: 0;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  border-bottom: 1px solid #e5e5e5;
  background: url(../img/bg_grass.jpg) no-repeat center center;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

/* Visualization
------------------------- */
.rickshaw_legend {
  background: transparent;
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #222;
  opacity: .6;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}


/* Footer
-------------------------------------------------- */
.footer {
  position:relative;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: url(../img/bg_grass.jpg) no-repeat center center;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.footer .container {
  position:relative;
  z-index: 2;
}
.footer:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #222;
  opacity: .7;
}
.footer p {
  margin-bottom: 0;
  color: #fff;
  opacity: 1;
}
.footer .pull-right a, .footer .pull-right a:hover {
  color: #fff;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}