{% extends "layout.html" %}
{% block body %}

  <div class="jumbotron">
    <div class="container">
      <h1>Pigskin</h1>
      <p>Visualizing Football Tweets</p>
    </div>
  </div>

  <div id="index" class="container">

    <div class="row">
      <div class="span10">
        <h3>Total Count of Football vs. Non-Football Tweets by NFL Week</h3>
        <div id="chart"></div>
      </div>

      <div class="span2">
        <div id="legend"></div>

        <h3>Dataset</h3>
        <h5>stats on stats on stats</h5>
        <h3>13,322,232 <small>Total Tweets</small></h3>

        <h3>13,103,319 <!-- 98.36% --><small>Non-Football Tweets</small></h3>
        <h3>218,913 <!-- 1.64% --><small>Football Tweets</small></h3>
        <h3>70 <small>Hours of Tweets</small></h3>
      </div>
    </div>

    <hr class="soften">
    <div id="map_canvas" class="span10"></div>
  </div> <!-- /container -->

{% endblock %}

{% block scripts %}
<style type="text/css">
    #map_canvas { height: 500px;}
  </style>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB4TF2ftzpJrPmsIl3W2nr6119X8g2KSs&sensor=false">
</script>
<script type="text/javascript">
    var data = {{ data | tojson | safe }};
    var geo = {{ geo | tojson | safe }};

    $(function(){
        
        $('#map_canvas').gmap({'center': '39.774769,-96.165527','zoom':4}).bind('init', function () {
            // Initialize stuff for the map here if needed
        });
        $.each(geo, function(teamName, teamArray){
            $.each(teamArray, function(index, object){
                $('#map_canvas').gmap('addMarker', { 'position': object['geoloc']}).click(function() {
                    var content = '<strong>Team Association:</strong> ' + object['fb_assoc'] 
                                  + '<br/><strong>Tweet:</strong> ' + object['tweet']
                                  + '<br /><strong>Weight:</strong> ' + object['fb_weight'] ;
                    $('#map_canvas').gmap('openInfoWindow', {'content': content}, this);
                });
            })
        });
        

    });
</script>
{% endblock %}