{% extends "layout.html" %}
{% block body %}

  <div class="jumbotron">
    <div class="container">
      <h1>Pigskin</h1>
      <p>Visualizing Football Tweets</p>
    </div>
  </div>

  <div id="index" class="container">

    <div class="row">
      <div class="span10">
        <h3>Total Count of Football vs. Non-Football Tweets by NFL Week</h3>
        <div id="chart"></div>
      </div>

      <div class="span2">
        <div id="legend"></div>

        <h3>Dataset</h3>
        <h5>stats on stats on stats</h5>
        <h3>13,322,232 <small>Total Tweets</small></h3>

        <h3>13,103,319 <!-- 98.36% --><small>Non-Football Tweets</small></h3>
        <h3>218,913 <!-- 1.64% --><small>Football Tweets</small></h3>
        <h3>70 <small>Hours of Tweets</small></h3>
      </div>
    </div>

    <hr class="soften">

  </div> <!-- /container -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var data = {{ data | tojson | safe }};
</script>
{% endblock %}