<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pigskin | Visualizing Football Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="How popular is the NFL on Twitter? Which teams and matchups are the most popular? Pigskin visualizes tweets about NFL games to help answer these questions.">
    <meta name="author" content="Andrew Chao, Gilbert Hernandez, Jacob Portnoff">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rickshaw.min.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>-->
    <script type="text/javascript" src="//use.typekit.net/tui0fki.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Pigskin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Home</a>
              </li>
              <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
                <ul class="dropdown-menu span6" role="menu" aria-labelledby="drop1">
                    <li class="column-menu span3 firstcolumn">
                        <ul>
                          <li><a tabindex="-1" href="/teams/">All Teams</a></li>
                          <li><img class="logoTinyConf" src="{{ url_for('static', filename='img/logo/NFC.gif') }}"></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/dal">Dallas Cowboys</a></li>
                          <li><a tabindex="-1" href="/teams/nyg">New York Giants</a></li>
                          <li><a tabindex="-1" href="/teams/phi">Philadelphia Eagles</a></li>
                          <li><a tabindex="-1" href="/teams/was">Washington Redskins</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/chi">Chicago Bears</a></li>
                          <li><a tabindex="-1" href="/teams/det">Detroit Lions</a></li>
                          <li><a tabindex="-1" href="/teams/gb">Green Bay Packers</a></li>
                          <li><a tabindex="-1" href="/teams/min">Minnesota Vikings</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/atl">Atlanta Falcons</a></li>
                          <li><a tabindex="-1" href="/teams/car">Carolina Panthers</a></li>
                          <li><a tabindex="-1" href="/teams/no">New Orleans Saints</a></li>
                          <li><a tabindex="-1" href="/teams/tb">Tampa Bay Buccaneers</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/ari">Arizona Cardinals</a></li>
                          <li><a tabindex="-1" href="/teams/stl">Saint Louis Rams</a></li>
                          <li><a tabindex="-1" href="/teams/sf">San Francisco 49ers</a></li>
                          <li><a tabindex="-1" href="/teams/sea">Seattle Seahawks</a></li>
                        </ul>
                    </li>
                    <li class="column-menu span3">
                        <ul>
                          <li><a href="#">&nbsp;</a></li>
                          <li><img class="logoTinyConf" src="{{ url_for('static', filename='img/logo/AFC.gif') }}"></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/buf">Buffalo Bills</a></li>
                          <li><a tabindex="-1" href="/teams/mia">Miami Dolphins</a></li>
                          <li><a tabindex="-1" href="/teams/ne">New England Patriots</a></li>
                          <li><a tabindex="-1" href="/teams/nyj">New York Jets</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/bal">Baltimore Ravens</a></li>
                          <li><a tabindex="-1" href="/teams/cin">Cincinnati Bengals</a></li>
                          <li><a tabindex="-1" href="/teams/cle">Cleveland Browns</a></li>
                          <li><a tabindex="-1" href="/teams/pit">Pittsburgh Steelers</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/ten">Tennessee Titans</a></li>
                          <li><a tabindex="-1" href="/teams/hou">Houston Texans</a></li>
                          <li><a tabindex="-1" href="/teams/ind">Indianapolis Colts</a></li>
                          <li><a tabindex="-1" href="/teams/jac">Jacksonville Jaguars</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/teams/den">Denver Broncos</a></li>
                          <li><a tabindex="-1" href="/teams/kc">Kansas City Chiefs</a></li>
                          <li><a tabindex="-1" href="/teams/oak">Oakland Raiders</a></li>
                          <li><a tabindex="-1" href="/teams/sd">San Diego Chargers</a></li>
                        </ul>
                    </li>
                </ul>
              </li>
              <!--
              <li class="">
                <a href="/search/">Search</a>
              </li>
              -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    <div class="footer">
        <div class="container">
            <p class="pull-right"><i class="icon-arrow-up icon-white"></i><a href="#">Back to top</a></p>
            <p>Pigskin | Visualizing Football Tweets</p>
            <p><small>NFL and the NFL shield design are registered trademarks of the National Football League.The team names and logo designs are registered trademarks of the teams indicated. All other NFL-related trademarks are trademarks of the National Football League.</small></p>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>-->
    <script src="{{ url_for('static', filename='js/vendor/d3.v2.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <!--<script src="http://d3js.org/d3.v2.js"></script>-->
   <!-- <script>window.d3 || document.write('<script src="js/vendor/d3.v2.min.js"><\/script>')</script>-->
    <script src="{{ url_for('static', filename='js/rickshaw.js') }}"></script>
    <script src="{{ url_for('static', filename='js/extensions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google Analytics: UA-31630965-1 (lab.thegilby.com) -->
    <script>
        var _gaq=[['_setAccount','UA-31630965-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>