<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pigskin | Visualizing Football Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="How popular is the NFL on Twitter? Which teams and matchups are the most popular? Pigskin visualizes tweets about NFL games to help answer these questions.">
    <meta name="author" content="Andrew Chao, Gilbert Hernandez, Jacob Portnoff">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/rickshaw.min.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>-->
    <script type="text/javascript" src="//use.typekit.net/tui0fki.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

        <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./">Pigskin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="">
                <a href="/week/7/">Week 7</a>
              </li>
              <li class="">
                <a href="/week/8/">Week 8</a>
              </li>
              <li class="">
                <a href="/week/9/">Week 9</a>
              </li>
              <li class="">
                <a href="/week/10/">Week 10</a>
              </li>
              <li class="">
                <a href="/week/11/">Week 11</a>
              </li>
              <li class="">
                <a href="/week/12/">Week 12</a>
              </li>
              <li class="">
                <a href="/week/13/">Week 13</a>
              </li>
              <li class="">
                <a href="/teams/">Teams</a>
              </li>
              <li class="">
                <a href="/search">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p>Pigskin</p>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>-->
    <script src="{{ url_for('static', filename='js/vendor/d3.v2.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <!--<script src="http://d3js.org/d3.v2.js"></script>-->
   <!-- <script>window.d3 || document.write('<script src="js/vendor/d3.v2.min.js"><\/script>')</script>-->
    <script src="{{ url_for('static', filename='js/rickshaw.js') }}"></script>
    <script src="{{ url_for('static', filename='js/extensions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google Analytics: UA-31630965-1 (lab.thegilby.com) -->
    <script>
        var _gaq=[['_setAccount','UA-31630965-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>