{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="span3" id="away">

        </div>

        <div class="span6">
          <h2 id="matchupName"></h2>
        </div>

        <div class="span3" id="home">

        </div>
      </div>

    </div>
  </div>

  <div id="matchup" class="container">
    <ul></ul>
    <div class="row">
      <div class="span8" id="chart">
      </div>

      <div id="legend"></div>

      <div class="span4">
      </div>
    </div>
  </div> <!-- /container -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var teamData = {{ teamData | tojson | safe }},
      matchup = {{ matchup | tojson | safe }},
      week = {{ week | tojson | safe }};
</script>
{% endblock %}