{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="span4" id="away">
            <!-- <h2>AWAY</h2> -->
            <img class="logo" src="">
            <h3></h3>
            <a href="" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="span4">
          <h4 id="matchupLocation"></h4>
          <span id="matchupScore"></span>
        </div>

        <div class="span4" id="home">
            <!-- <h2>HOME</h2> -->
            <img class="logo" src="">
            <h3></h3>
            <a href="" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

    </div>
  </div>

  <div id="matchup" class="container">
    <ul></ul>
    <div class="row">
      <div class="span11">
        <h3>Number of Tweets per Minute about teams over the course of the day</h3>
        <div id="chart"></div>
        <div id="y_axis"></div>
        <div id="slider"></div>
      </div>
      <div class="span1">
        <div id="legend"></div>
      </div>
    </div>
  </div> <!-- /container -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var teamData = {{ teamData | tojson | safe }},
      matchup = {{ matchup | tojson | safe }},
      week = {{ week | tojson | safe }};
</script>
{% endblock %}