{% extends "layout.html" %}
{% block body %}
  <h1>Pigskin • Visualizing Football Tweets</h1>
  <!-- <p></p> -->
  <form id="searchForm">
    <input type="search" id="searchBox"></input>
    <input type="submit" id="searchButton"></input>
  </form>
  <ul id="searchResults">
    
  </ul>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
      $("#searchForm").on("submit",function(event){
          var query = $("#searchBox").val();
          
          $.getJSON("/searchsolr", {query:query},function(data){
              console.log(data);
              $("#searchResults").html("");
              $.each(data.tweets, function(index, value){
                  $("#searchResults").append("<li>" + value.tweet+ "</li>");
              });
              
          });
          return false;
      });
  </script>

{% endblock %}