{% extends "layout.html" %}
{% block body %}

  <div class="jumbotron">
    <div class="container">
      <!-- <h1>Pigskin</h1> -->
      <img class="logo" src="static/img/logo/NFL.gif">
      <h2>TEAMS</h2>
    </div>
  </div>

  <div id="teams" class="container">
    <div class="row">
      <div class="span6" id="nfc">
        <img class="span2 offset2 logo" src="static/img/logo/NFC.gif">
      </div>

      <div class="span6" id="afc">
        <img class="span2 offset2 logo" src="static/img/logo/AFC.gif">
      </div>
    </div>

  </div> <!-- /container -->

{% endblock %}